/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Fondo con degradado pastel */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #1221c0, #131416);
    padding: 20px;
}

/* Estilo del formulario */
form {
    background: #ffffffcc;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Etiquetas */
label, p {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

/* Inputs y select */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.3s ease;
}

/* Hover y focus */
input:focus,
select:focus,
textarea:focus {
    border-color: #a8d8ea;
    outline: none;
    box-shadow: 0 0 8px rgba(168, 216, 234, 0.8);
}

/* Botones */
input[type="submit"],
input[type="reset"] {
    width: 48%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Estilo botón enviar */
input[type="submit"] {
    background: #ffffff;
    color: #000dbd;
}

input[type="submit"]:hover {
    background: #ffffff;
}

/* Estilo botón limpiar */
input[type="reset"] {
    background: #4526d1;
    color: #ffffff;
}

input[type="reset"]:hover {
    background: #f5a2bd;
}

/* Responsivo */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }

    input[type="submit"],
    input[type="reset"] {
        width: 100%;
        margin-bottom: 10px;
    }
}